/*
#overview
heading

_heading.scss
*/

/*
#styleguide
```
<div class="heading1">
    <h1 class="heading-inner">heading</h1>
</div>
<div class="heading2">
    <h2 class="heading-inner">heading</h2>
</div>
<div class="heading3">
    <h3 class="heading-inner">heading</h3>
</div>
```
*/

.heading1 {
    background-color: #F3F3F3;
    padding: 10px;

    .heading-inner {
        @include rem(28);
        font-weight: bold;
        color: #000;
        line-height: 1.6;
    }
}

.heading2 {
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    .heading-inner {
        @include rem(24);
        font-weight: bold;
        color: #000;
        line-height: 1.6;
    }
}

.heading3 {

    .heading-inner {
        @include rem(20);
        font-weight: bold;
        color: #000;
        line-height: 1.6;
    }
}