/*
#overview
card

_card.scss
*/

/*
#styleguide
```
<article class="card">
    <a href="#" class="card-link">
        <div class="card-inner">
            <span class="tag tag-a">tag-a</span>
            <img src="http://placehold.it/200x130" height="130" width="200" alt="">
            <div class="card-body">
                <h1 class="card-heading">
                    急に充電したくなったらココ！おすすめ「電源の使...
                </h1>
                <p class="card-text">sample text sample text sample text sample text sample text sample text</p>
            </div>
        </div>
    </a>
</article>
```
*/

.media {
    width: 100%;
    border: 1px solid #000;

    &-link {
        display: block;
        background: #fff;
        color: #000;
        text-decoration: none;

        img {
            float: left;
            display: block;
        }
    }

    &-inner {
        @extend %clearfix;
        position: relative;
    }

    &-body {
        padding: 10px;
        margin-left: 200px;

        > time {
            display: block;
            margin-bottom: 5px;
        }
    }

    &-heading {
        @include rem(14);
        line-height: 1.6;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &-text {
        @include rem(14);
        line-height: 1.6;
    }

    &:hover {

        .card-link {
            background: #eee;
        }
    }

    .tag {
        position: absolute;
        top: 0;
        left: 0;
    }
}
