/*
#overview
select

_select.scss
select.js
*/

/*
#styleguide
```
<div class="select js-select">
    <select name="select" class="select-inner">
        <option value="">選択してください</option>
        <option value="select1">select1</option>
        <option value="select2">select2</option>
        <option value="select3">select3</option>
    </select>
    <div class="select-text"></div>
    <div class="select-arrow"></div>
</div>
```
*/

.select {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #000;
    position: relative;

    &-inner {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
    }

    &-text {
        @include rem(14);
        width: 100%;
        height: 100%;
        padding: 12px 15px;
        color: #000;
        line-height: 1;
        position: relative;
        z-index: 1;
    }

    &-arrow {
        @include arrow(8, 8, 1, #000, 12, 15, bottom);
        z-index: 3;
    }
}
