<% include layout/_head %>
<% include layout/_header %>
            <!--main_visual ここから-->
            <div class="main-visual">
                <div class="main-visual-inner">
                    <img src="http://placehold.it/980x520" height="520" width="980" alt="">
                </div>
            </div>
            <!--main_visual ここまで-->

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner">
                    <main class="main"></main>
                    <aside class="side"></aside>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>