<% include layout/_head %>
<% include layout/_header %>

            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">

                    <div class="select js_select">
                        <select name="select" class="select_inner">
                            <option value="">選択してください</option>
                            <option value="select1">select1</option>
                            <option value="select2">select2</option>
                            <option value="select3">select3</option>
                        </select>
                        <div class="select_text"></div>
                        <div class="select_arrow"></div>
                    </div>


                </div>
            </div>
            <!-- end contents -->

<% include layout/_footer %>
<% include layout/_script %>