<% include layout/_head %>
<% include layout/_header %>

            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">

                    <div class="select js_select">
                        <select name="select" class="select_inner">
                            <option value="all">#all</option>
                            <option value="news">#news</option>
                            <option value="design">#design</option>
                            <option value="development">#development</option>
                            <option value="attitude">#attitude</option>
                        </select>
                        <div class="select_text"></div>
                        <div class="select_arrow"></div>
                    </div>


                </div>
            </div>
            <!-- end contents -->

<% include layout/_footer %>
<% include layout/_script %>