<% include layout/_head %>
<% include layout/_header %>

            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">

                    <div class="select js-select">
                        <select name="select" class="select-inner">
                            <option value="">選択してください</option>
                            <option value="select1">select1</option>
                            <option value="select2">select2</option>
                            <option value="select3">select3</option>
                        </select>
                        <div class="select-text"></div>
                        <div class="select-arrow"></div>
                    </div>

                    <br/>

                    <div class="tab js-tab">
                        <ul class="tab-menus">
                            <li class="tab-menu">
                                <a href="#tab-area1" data-tab-name=".js-tab-group1" class="js-tab-group1 is-active">tab1</a>
                            </li>
                            <li class="tab-menu">
                                <a href="#tab-area2" data-tab-name=".js-tab-group1" class="js-tab-group1">tab2</a>
                            </li>
                            <li class="tab-menu">
                                <a href="#tab-area3" data-tab-name=".js-tab-group1" class="js-tab-group1">tab3</a>
                            </li>
                        </ul>
                        <div class="tab-areas">
                            <div class="tab-area js-tab-group1 is-active" id="tab-area1">
                                <div class="tab-area-content">
                                    areaの意味や和訳。 【名詞】1【不可算名詞】 [具体的には 【可算名詞】] 面積.用例the area of a square [triangle] 正方形[三角形]の面積.It's 100 square miles i... - 約983万語ある英和辞典・和英辞典。発音・イディオムも ...
                                </div>
                            </div>
                            <div class="tab-area js-tab-group1" id="tab-area2">
                                <div class="tab-area-content">
                                    areaとは。意味や和訳。[名]1 地域，地帯，区域，地方；（特定の用途にあてた）区域，場所.
                                </div>
                            </div>
                            <div class="tab-area js-tab-group1" id="tab-area3">
                                <div class="tab-area-content">
                                    area 【名】 〔地表上の〕地域、地帯、地方、地区◇【同】region 〔特定の目的に... - アルクがお届けする進化するオンライン英和・ ...
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab js-tab">
                        <ul class="tab-menus">
                            <li class="tab-menu">
                                <a href="#tab-area4" data-tab-name=".js-tab-groupA" class="js-tab-groupA is-active">tab1</a>
                            </li>
                            <li class="tab-menu">
                                <a href="#tab-area5" data-tab-name=".js-tab-groupA" class="js-tab-groupA">tab2</a>
                            </li>
                            <li class="tab-menu">
                                <a href="#tab-area6" data-tab-name=".js-tab-groupA" class="js-tab-groupA">tab3</a>
                            </li>
                        </ul>
                        <div class="tab-areas">
                            <div class="tab-area js-tab-groupA is-active" id="tab-area4">
                                <div class="tab-area-content">
                                    areaの意味や和訳。 【名詞】1【不可算名詞】 [具体的には 【可算名詞】] 面積.用例the area of a square [triangle] 正方形[三角形]の面積.It's 100 square miles i... - 約983万語ある英和辞典・和英辞典。発音・イディオムも ...
                                </div>
                            </div>
                            <div class="tab-area js-tab-groupA" id="tab-area5">
                                <div class="tab-area-content">
                                    areaとは。意味や和訳。[名]1 地域，地帯，区域，地方；（特定の用途にあてた）区域，場所.
                                </div>
                            </div>
                            <div class="tab-area js-tab-groupA" id="tab-area6">
                                <div class="tab-area-content">
                                    area 【名】 〔地表上の〕地域、地帯、地方、地区◇【同】region 〔特定の目的に... - アルクがお届けする進化するオンライン英和・ ...
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end contents -->

<% include layout/_footer %>
<% include layout/_script %>