.header {
    width: 100%;
}

.header-inner {
    @extend %clearfix;
    width: $size-max; //setting.scssに記述
    height: 80px;
    margin: 0 auto;
    background: #eee;
    padding: 10px;
}

.header-logo {
    float: left;
    width: 200px;
    height: 60px;
    background: #fff;
}

.header-module {
    float: right;
    width: 150px;
    height: 60px;
    background: #fff;
    margin-left: 10px;
}
