<% var title = "Title",
    description = "",
    keywords = "",
    type = "website",
    page_class = "page-index";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <main class="contents">
            </main>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>